.toggle {
  position: absolute;
  left: 40%;
  top: 30%;
}

.toggle__bar {
  position: absolute;
  left: 4px;
  top: 3px;
  width: 28px;
  height: 12px;
  background-color: #b3b3b3;
  border-radius: 6px;
}

.toggle__switch {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-color: #eaeae1;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #999;
}
